/* Login */

.auth-container {
    width: 60%;
    margin: 72px auto;
    padding: 34px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    /* border: 2px solid var(--primary-blue-100); */
    border-radius: 12px;
    box-shadow: inset 1px 1px 6px rgba(0, 0, 0, 0.5);
}

.auth-heading {
    font-size: 1.7rem;
}

.auth-container form {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 24px 0;
    text-align: left;
    padding: 3rem;
}

.auth-container label {
    font-size: 14px;
    font-weight: bold;
}

.auth-container input {
    outline: none;
    width: 100%;
    padding: 12px 4px;
    margin: 8px 0 0 0;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.4);
}

.auth-container .email,
.auth-container .password {
    position: relative;
}

.auth-container .forgot {
    font-size: 14px;
    margin-top: -6px;
}

.auth-container .forgot a {
    text-decoration: none;
    color: #636363;
}

.auth-container .forgot a:hover {
    text-decoration: underline;
}

.auth-container svg {
    position: absolute;
    top: calc(50%);
    right: 15px;
    cursor: pointer;
    font-size: 18px;
}

.auth-container .account {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    margin: 16px 0;
}

.auth-container .account a {
    text-decoration: none;
    color: var(--primary-blue-100);
}

.auth-container .account a:hover {
    text-decoration: underline;
}

.auth-container button {
    background: var(--primary-blue-100);
    color: #fff;
    font-size: 0.9rem;
}

.auth-container button:hover {
    background: var(--primary-blue-80);
}

.auth-container .gender {
    display: flex;
    gap: 12px;
    justify-content: space-between;
    align-items: center;
}

.auth-container .gender label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.auth-container .gender label input {
    box-shadow: none;
    margin: 0;
}


.error {
    color: red;
    font-size: 0.875rem;
    margin-top: 5px;
    text-align: center;
}

.success {
    color: green;
    font-size: 0.875rem;
    margin-top: 5px;
    text-align: center;
}